@using FYPMustafa.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<link href="~/Content/main.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="page-wrapper bg-red p-b-100 font-robo" style="padding-top:65px;">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading2"></div>
                <div class="card-body">
                    <div>
                        <div>
                            <h2 class="row-space" style=" margin-top:0px;">Sign In</h2>
                        </div>
                    </div>
                    <div>
                        <div class=" row-space">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes =
                                new { @class = "input--style-2",
                                placeholder = @Html.DisplayNameFor(m => m.Email) }})
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class=" row-space">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes =
                                new { @class = "input--style-2",
                                placeholder = @Html.DisplayNameFor(m => m.Password) }})
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class=" row-space">
                            <div class="form-group">
                                <div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "chkb" })
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-space">
                            <button class="btn btn--radius btn--green" type="submit">Login</button>
                        </div>
                        <div class=" row-space">
                            <div class="form-group">
                                <p style="margin-top:10px;">
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}